---
// Importar el archivo global.css aquí para que se incluya en
// Todas las páginas mediante el uso del componente <BaseHead />.
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/hero.png' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link
	rel="preload"
	href="/fonts/atkinson-regular.woff"
	as="font"
	type="font/woff"
	crossorigin
/>
<link
	rel="preload"
	href="/fonts/atkinson-bold.woff"
	as="font"
	type="font/woff"
	crossorigin
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>ClimatizaPy | {title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "HVACBusiness",
		"name": "ClimatizaPy",
		"image": "https://climatizapy.com/hero.png",
		"url": "https://climatizapy.com",
		"telephone": "0986550235",
		"priceRange": "Barato con calidad",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Guaraníes 4779 e/ Hipólito Sánchez Y Tte. Ramírez Franco",
			"addressLocality": "Asunción",
			"addressRegion": "Central",
			"postalCode": "1431",
			"addressCountry": "Paraguay"
		},
		"geo": {
			"@type": "GeoCoordinates",
			"latitude": -25.320399852204194,
			"longitude": -57.56268987411528
		},
		"openingHoursSpecification": {
			"@type": "OpeningHoursSpecification",
			"dayOfWeek": [
				"Lunes",
				"Martes",
				"Miércoles",
				"Jueves",
				"Viernes",
				"Sabado",
				"Domingo"
			],
			"opens": "08:00",
			"closes": "20:00"
		},
		"sameAs": [
			"https://www.facebook.com/fachadenis",
			"https://twitter.com/Deniscantero6",
			"https://www.instagram.com/_denisricardo/",
			"https://www.tiktok.com/@denisrpy"
		],
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "4.5",
			"reviewCount": "250"
		},
		"areaServed": {
			"@type": "GeoShape",
			"addressCountry": "Paraguay"
		},
		"paymentAccepted": "Efectivo, Transferencia Bancaria",
		"currenciesAccepted": "PYG",
		"hasOfferCatalog": {
			"@type": "OfferCatalog",
			"name": "Servicios",
			"itemListElement": [
				{
					"@type": "OfferCatalog",
					"name": "Instalación",
					"itemListElement": [
						{
							"@type": "Offer",
							"itemOffered": {
								"@type": "Service",
								"name": "Instalación de Aire Acondicionado Split"
							},
							"price": "350000"
						}
					]
				},
				{
					"@type": "OfferCatalog",
					"name": "Mantenimiento",
					"itemListElement": [
						{
							"@type": "Offer",
							"itemOffered": {
								"@type": "Service",
								"name": "Mantenimiento de Aire Acondicionado"
							},
							"price": "250000"
						}
					]
				},
				{
					"@type": "OfferCatalog",
					"name": "Desmontaje",
					"itemListElement": [
						{
							"@type": "Offer",
							"itemOffered": {
								"@type": "Service",
								"name": "Desmontaje de Aire Acondicionado"
							},
							"price": "200000"
						}
					]
				}
			]
		}
	}
</script>
